body {
    background: #E2F7CE;
}

h1, h2, h3, h4, h5, h6, p, a, li, label {
    font-family: $primary-font;
    color: #474747;
}

h1 {
    font-size: 3.2em;
    color: #F1396D;
}

#view-menu {
    font-size: 1.35em; 

    .expanded {
        width: 55%;
        @include set-margin-sides();
    }
}

#genre-menu {
    .button-group {
        width: 75%;
        @include set-margin-sides();
    }
}

#gallery-view {
    img {
        @include wh(180px, 255px);
    }

    img:hover {
        border: 4px solid #F3FFEB; 
        cursor: pointer;
    }

    .column {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

#detail-view {

    img {
        @include wh(268px, 380px);
    }   

    .media-object {
        width: 90%;
        @include set-margin-sides();
    }

    p, h3, #info {
        max-width: 75%;
    }

    #stats {
        min-width: 250px;
    }
}

#list-view {
    img {
        @include wh(120px, 163px);
    }

    .media-object-section {
        padding-left: 1rem; 
        padding-top: 1rem;
    }

    .media-object {
        width: 60%;
        @include set-margin-sides();
    }

    .media-object:hover {
        background: #F3FFEB;
        cursor: pointer;
    }
}

@media screen and (max-width: 39.9375em) {
    #list-view {
        .media-object {
            width: 90%;
            @include set-margin-sides();
        }
    }

    #list-ui {
        label {
            width: 90% !important;
        }

        fieldset label {
            width: 100% !important;
        }
    }
}


#list-ui {
    label {
        width: 40%;
        @include set-margin-sides();
    }

    fieldset label {
        margin-left: 10px;
        margin-right: 10px;
        width: 20%;
    }

}

.button {
    background: #058789 !important;
}

hr {
    border-top: 1px solid white;
    border-color: white;
    background-color: white;
    color: white;
}